html
  head
    title= "Christoph is at..."
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
  body
    .container(style="margin-top: 25px;")
      header.row
        h2 Christoph is at...
      section.row
        h1.text-center.animate__animated.animate__bounceInDown=location
        // small.text-end.animate__animated.animate__fadeIn Stand: